@media (max-width: 1180px) {
  .gallery {
    .accordion {
      height: 90vh;
      width: 95%;
      display: flex;
      flex-direction: column;
  
      .tab {
        width: 100%;
        height: 20%;
        transition: height .5s ease;

        &:hover {
          height: 80%;
          width: 100%;
        }

        figcaption {
          top: 120px;
        }
      }
    }
  }
}

@media (max-width: 754px) {
  .hero {
    &-logo {
      max-width: 300px;
    }
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: .45rem;
    }
  }
  .home-content {
    header {
      figure {
        img {
          width: 100%;
        }
        figcaption {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .hero {
    &-logo {
      max-width: 240px;
    }
    .intro-message {
      width: auto;
  
      &::before,
      &::after {
        display: none;
      }
    }
  }

  .intersection-target_header {
    width: auto;

    &::after {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .observer-fade {
    opacity: 1 !important;
  }
}