@import 'config';
@import 'observers';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-color: $clr-lt;
  color: $clr-dk;
  font-family: $font-primary;
  font-weight: bold;
  scroll-behavior: smooth;
}

button {
  all: unset;
  cursor: pointer
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: clamp(.9rem, .9rem + .25vw, 1.2rem);
  text-transform: uppercase;
  margin: 0;
}

p {
  font-size: clamp(.75rem, .75rem + .5vw, 1.25rem);
}

article {
  text-align: center;
}

button, a, label {
  font-family: $font-alt;
}



.scroll-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #051b96;
  padding: 5px 0;
  scale: 0;
  transform-origin: right;
  transition: scale .7s ease;
}

.scroll-track {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-top: 1px solid $clr-lt;
  border-bottom: 1px solid $clr-lt;
  color: $clr-lt;

  .scroll {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
    
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%); 
    transform:translateX(100%);
    /* Apply animation to this element */ 
    -moz-animation: scroll-left 25s linear infinite;
    -webkit-animation: scroll-left 25s linear infinite;
    animation: scroll-left 25s linear infinite;

    &:hover {
      -webkit-animation-play-state:paused;
      -moz-animation-play-state:paused;
      -o-animation-play-state:paused; 
      animation-play-state:paused;
    }

    li {
      font-size: .7rem;
      font-weight: lighter;
      white-space: nowrap;
    }

    .new-line {
      margin: 0 3rem 0 5rem;
    }
  }
}

@-moz-keyframes scroll-left {
  0% { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes scroll-left {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
  }
  @keyframes scroll-left {
  0% { 
  -moz-transform: translateX(100%); /* Browser bug fix */
  -webkit-transform: translateX(100%); /* Browser bug fix */
  transform: translateX(100%); 
  }
  100% { 
  -moz-transform: translateX(-100%); /* Browser bug fix */
  -webkit-transform: translateX(-100%); /* Browser bug fix */
  transform: translateX(-100%); 
  }
  }


.hero {
  height: 100vh;
  width: 100%;
  text-align: center;

  &-logo {
    max-width: 400px;
  }

  nav {
    border-top: 1px solid $clr-dk;
    width: min(90%, 1100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;

    a {
      min-width: 26ch;
    }
  }
}

.intro-message {
  font-size: clamp(1rem, 1rem + .5vw, 1.5rem);
  width: max-content;
  position: relative;
}

.intro-message::before,
.intro-message::after {
  content: '';
  position: absolute;
}

/* creating background to run across text */
.intro-message::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  animation: typewriter 4s steps(56) 2s forwards;
}

/* creating blinking cursor */
.intro-message::after {
  top: 15%;
  bottom: 15%;
  left: 0;
  width: 0.125em;
  height: 70%;
  background: black;
  animation: typewriter 4s steps(56) 2s forwards, cursor 500ms steps(56) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes cursor {
  to {
    background: transparent;
  }
}

.home-content {
  width: min(100%, 1100px);

  header {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    width: 100%;

    figure {
      width: 100%;
      // height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      img {
        margin-left: auto;
        // margin-right: 8px;
        width: 400px;
        max-width: 100%;
        transition: all 1s ease;
      }

      figcaption {
        opacity: 0;
        transition: opacity 1.5s .5s ease;
      }
    }
  }
}

.gallery {
  header {
    text-align: center;
  }

  .accordion {
    width: 1080px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 50px auto;

    .tab {
      position: relative;
      width: 20%;
      height: inherit;
      padding: 20px;
      background: #000;
      color: #FFF;
      cursor: pointer;
      transition: width .5s ease;

      &:hover {
        width: 80%;

        img {
          opacity: .6;
        }

        figcaption {
          transition: all .5s ease;
          opacity: 1;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .5s ease;
      }

      figcaption {
        position: absolute;
        z-index: 2;
        white-space: nowrap;
        top: 190px;
        opacity: 0;
        text-overflow: clip;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}

.contact {
  width: 100%;

  .contact-form {
    width: min(100%, 900px);
  
    .flex-wrap {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    }
  
    .input-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    input, textarea {
      border: 0;
      border-bottom: 2px solid rgba(0, 0, 0, .15);
      font-size: 1rem;
      outline: 0;
      -webkit-border-radius: 0; 
      border-radius: 0;
      padding-top: .5rem;
    }

    input:focus, textarea:focus {
      border-bottom-color: $clr-primary;
    }

    .form-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
      font-family: $font-alt;

      input {
        border: none;
      }
    }
  }

  img {
    width: min(95%, 800px);
    max-height: 400px;
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }
}

.success-animation { display: none; }

.checkmark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

footer {
  border-top: 1px solid $clr-dk;
  width: 180px;
  display: grid;
  place-items: center;
}


@import 'queries';